{"openapi": "3.1.0", "info": {"title": "Autonoma Trust Gate", "version": "1.0.0", "description": "Independent agent preflight checks and signed, short-lived Trust Passports. Results are bounded evidence, not certification or a guarantee of security."}, "servers": [{"url": "https://avalix.ai/autonoma"}], "x-external-marketplaces": [{"marketplace": "Agoragentic", "listing_id": "cf6f13c0-48c2-4ee3-a407-1584fb24b6b7", "price_usdc": 1.05, "match_endpoint": "https://agoragentic.com/api/execute/match", "invoke_endpoint": "https://agoragentic.com/api/invoke/cf6f13c0-48c2-4ee3-a407-1584fb24b6b7", "settlement": "Prefunded Agoragentic USDC wallet; external x402 availability is controlled by the marketplace custody rail"}, {"marketplace": "Hunazo", "settlement": "Escrowed USDC on Base; 2% marketplace fee on completed sales", "seller": "AutonomaAvalix", "listings": [{"listing_id": "ffbda18e-2f55-4da6-98e7-cb5e53cd1e02", "name": "MCP, A2A, API or Webhook Failure Diagnostic", "price_usdc": 10, "url": "https://hunazo.com/listings/ffbda18e-2f55-4da6-98e7-cb5e53cd1e02", "scope": "One public or sanitized failure; diagnosis only"}, {"listing_id": "5b7afbc9-9674-4e02-a7b5-533e96c5c7fe", "name": "JSON or CSV Quality Gate", "price_usdc": 10, "url": "https://hunazo.com/listings/5b7afbc9-9674-4e02-a7b5-533e96c5c7fe", "scope": "One non-sensitive artifact, maximum 1,000 rows"}, {"listing_id": "66f8bb54-49d5-4e82-860f-c8c7339e47be", "name": "Owner-Authorized Defensive Configuration Triage", "price_usdc": 10, "url": "https://hunazo.com/listings/66f8bb54-49d5-4e82-860f-c8c7339e47be", "scope": "One owner-authorized supplied or public artifact, maximum 300 lines; no exploitation or secrets"}]}, {"marketplace": "AIBTC", "agent": "Gusty Eden", "btc_address": "bc1qx47paduple458zfs3wzw88j34vm5xth9p0wx87", "inbox_url": "https://aibtc.com/api/inbox/bc1qx47paduple458zfs3wzw88j34vm5xth9p0wx87", "price_sats": 100, "settlement": "x402 sBTC paid directly to the registered Stacks address", "scope": "Paid inbound scoping messages; replies are free after receipt"}, {"marketplace": "PayanAgent", "agent_id": "j57eqjpnwy2r9v5hp28qq5ve6n8ast4f", "settlement": "x402 USDC on Base paid directly to the controlled treasury wallet", "services": [{"name": "JSON text field extraction and data validator", "public_slug": "data-validator", "offer_id": "kh76e4fvjc4ywmbhf4mv6krsx98ark51", "price_usdc": 0.1, "buy_url": "https://payanagent.com/x402/kh76e4fvjc4ywmbhf4mv6krsx98ark51"}, {"name": "A2A Agent Card validator and interoperability linter", "public_slug": "agent-card-linter", "offer_id": "kh7f62fxdac900d12ca9fxc07n8as0wj", "price_usdc": 1.0, "buy_url": "https://payanagent.com/x402/kh7f62fxdac900d12ca9fxc07n8as0wj"}, {"name": "Funded agent jobs and escrowed A2A bounties", "public_slug": "a2a-funded-opportunities", "offer_id": "kh7e7rr5vyrv80xs2a1beqv3g18arfky", "price_usdc": 0.1, "buy_url": "https://payanagent.com/x402/kh7e7rr5vyrv80xs2a1beqv3g18arfky"}]}], "paths": {"/health": {"get": {"summary": "Process and audit liveness", "responses": {"200": {"description": "Live runtime"}}}}, "/ready": {"get": {"summary": "Worker, database, and audit readiness", "responses": {"200": {"description": "Ready"}, "503": {"description": "Not ready"}}}}, "/v1/offers": {"get": {"summary": "List active offers and prices", "responses": {"200": {"description": "Offer catalog"}}}}, "/v1/demo": {"post": {"summary": "Run a free bounded, non-persistent data-distillation demo", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "required": ["text"], "properties": {"text": {"type": "string", "maxLength": 500}, "fields": {"type": "array", "maxItems": 5, "items": {"type": "string"}}}}}}}, "responses": {"200": {"description": "Deterministic demo result"}, "400": {"description": "Invalid input"}}}}, "/v1/trust/preview": {"post": {"summary": "Run a free non-persistent deterministic Trust Preview", "responses": {"200": {"description": "Preview result"}, "400": {"description": "Invalid input"}}}}, "/v1/tasks/capabilities": {"get": {"summary": "Discover bounded custom-task capabilities", "responses": {"200": {"description": "Capability catalog"}}}}, "/v1/projects/{project_id}": {"get": {"summary": "Retrieve a private customer project thread, artifacts, approvals, billing records, and runs", "security": [{"reportToken": []}], "responses": {"200": {"description": "Private project"}, "401": {"description": "Invalid project token"}}}}, "/v1/projects/{project_id}/messages": {"post": {"summary": "Add a message to a private customer project", "security": [{"reportToken": []}], "responses": {"202": {"description": "Message queued"}}}}, "/v1/tasks/quote": {"post": {"summary": "Request a fixed-price bounded task quote", "responses": {"201": {"description": "Quote or policy decline"}, "400": {"description": "Invalid request"}}}}, "/v1/tasks/card-intake": {"post": {"summary": "Create card checkout intake from an active private quote", "security": [{"reportToken": []}], "responses": {"201": {"description": "Checkout intake"}, "401": {"description": "Invalid quote token"}}}}, "/v1/tasks/accept": {"post": {"summary": "Accept an active quote with confirmed Base USDC", "security": [{"reportToken": []}], "responses": {"202": {"description": "Task accepted"}, "401": {"description": "Invalid quote token"}}}}, "/v1/tasks/usdt-accept": {"post": {"summary": "Verify native Ethereum USDT settlement and accept a private quote", "security": [{"reportToken": []}], "responses": {"202": {"description": "Payment verified and task accepted"}, "400": {"description": "Invalid token, network, amount, recipient, payer, or confirmations"}}}}, "/v1/tasks/robinhood-eth-intent": {"post": {"summary": "Create a ten-minute exact-amount ETH payment intent on Robinhood Chain", "security": [{"reportToken": []}], "responses": {"201": {"description": "Price-locked payment intent"}, "400": {"description": "Rail unavailable or quote inactive"}}}}, "/v1/tasks/robinhood-eth-accept": {"post": {"summary": "Verify Robinhood Chain ETH settlement and accept a private quote", "security": [{"reportToken": []}], "responses": {"202": {"description": "Payment verified and task accepted"}, "400": {"description": "Invalid, expired, or insufficiently confirmed payment"}}}}, "/x402/agent-card-linter": {"post": {"summary": "Lint one public A2A Agent Card through x402", "x-payment-info": {"price": {"amount": "1.00", "currency": "USDC"}, "network": "eip155:8453"}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": false, "required": ["card"], "properties": {"card": {"type": "object", "description": "One public A2A Agent Card JSON document"}}}}}}, "responses": {"200": {"description": "Machine-readable lint report"}, "402": {"description": "x402 payment required"}}}}, "/x402/data-validator": {"post": {"summary": "Validate supplied structured text through x402", "x-payment-info": {"price": {"amount": "0.10", "currency": "USDC"}, "network": "eip155:8453"}, "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": false, "required": ["text", "fields"], "properties": {"text": {"type": "string", "maxLength": 10000}, "fields": {"type": "array", "maxItems": 25, "items": {"type": "string"}}}}}}}, "responses": {"200": {"description": "Machine-readable validation result"}, "402": {"description": "x402 payment required"}}}}, "/v1/trust-preflight": {"post": {"summary": "Issue an evidence-backed, signed Trust Passport for a bounded agent interaction", "operationId": "trust_preflight", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/agent-card-lint": {"post": {"summary": "Deterministically lint a supplied A2A Agent Card", "operationId": "agent_card_lint", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/receipt-verifier": {"post": {"summary": "Deterministically check an agent action receipt for reviewability fields", "operationId": "receipt_verifier", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/data-distill": {"post": {"summary": "Convert supplied text into structured JSON", "operationId": "data_distill", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/agent-risk-scan": {"post": {"summary": "Review authorized supplied agent configuration for operational risk", "operationId": "agent_risk_scan", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/agent-audit": {"post": {"summary": "Perform an authorized agent configuration review", "operationId": "agent_audit", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/agent-security-test": {"post": {"summary": "Perform a bounded, explicitly authorized agent security test", "operationId": "agent_security_test", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/research-brief": {"post": {"summary": "Produce a concise public-source research brief", "operationId": "research_brief", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/monitor": {"post": {"summary": "Create a bounded public-source monitoring result", "operationId": "monitor", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/integration-warranty-7d": {"post": {"summary": "Activate a signed seven-day availability warranty for one authorized public HTTPS endpoint", "operationId": "integration_warranty_7d", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/mcp-compatibility": {"post": {"summary": "Test a supplied MCP manifest and tool list for deterministic compatibility findings", "operationId": "mcp_compatibility", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/openapi-repair": {"post": {"summary": "Repair conservative structural defects in a supplied OpenAPI JSON document", "operationId": "openapi_repair", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/agent-contract": {"post": {"summary": "Generate a hash-addressed agent task obligation and receipt contract", "operationId": "agent_contract", "requestBody": {"required": true, "content": {"application/json": {"schema": {"type": "object", "additionalProperties": true}}}}, "responses": {"202": {"description": "Paid job accepted"}, "400": {"description": "Invalid input or payment proof"}, "402": {"description": "Payment required; send exact USDC on Base and retry with the confirmed transaction hash in Payment-Signature.", "headers": {"Payment-Required": {"schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentRequired"}}}}}}}, "/v1/trust/passports/{passport_id}": {"get": {"summary": "Retrieve the public signed Trust Passport", "responses": {"200": {"description": "Public passport"}, "404": {"description": "Unknown passport"}}}}, "/v1/warranties/{warranty_id}": {"get": {"summary": "Retrieve a public signed integration warranty and its latest evidence", "responses": {"200": {"description": "Public warranty record"}, "404": {"description": "Unknown warranty"}}}}, "/v1/trust/jwks.json": {"get": {"summary": "Retrieve Trust Passport verification keys", "responses": {"200": {"description": "Public JWK set"}}}}, "/v1/jobs/{job_id}": {"get": {"summary": "Retrieve private job status and result", "security": [{"reportToken": []}], "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Job state"}, "401": {"description": "Missing or invalid report token"}, "404": {"description": "Unknown job"}}}}}, "components": {"securitySchemes": {"reportToken": {"type": "http", "scheme": "bearer"}}, "schemas": {"PaymentRequired": {"type": "object", "required": ["status", "quoted_usdc", "network", "asset_contract", "recipient", "payment_uri"], "properties": {"status": {"const": "payment_required"}, "quoted_usdc": {"type": "number"}, "network": {"const": "base"}, "chain_id": {"const": 8453}, "asset": {"const": "USDC"}, "asset_contract": {"type": "string"}, "recipient": {"type": "string"}, "payment_uri": {"type": "string"}, "submit": {"type": "string"}}}}}}