openapi: 3.2.0
info:
  title: Autonoma Trust Gate Ready API
  version: 1.0.0
  description: Independent agent preflight checks and signed, short-lived Trust Passports. Results are bounded evidence, not certification or a guarantee of security.
servers:
- url: https://avalix.ai/autonoma
tags:
- name: Ready
paths:
  /ready:
    get:
      summary: Worker, database, and audit readiness
      responses:
        '200':
          description: Ready
        '503':
          description: Not ready
      tags:
      - Ready
      operationId: getReady
      x-operation-id-source: derived
components:
  securitySchemes:
    reportToken:
      type: http
      scheme: bearer
x-external-marketplaces:
- marketplace: Agoragentic
  listing_id: cf6f13c0-48c2-4ee3-a407-1584fb24b6b7
  price_usdc: 1.05
  match_endpoint: https://agoragentic.com/api/execute/match
  invoke_endpoint: https://agoragentic.com/api/invoke/cf6f13c0-48c2-4ee3-a407-1584fb24b6b7
  settlement: Prefunded Agoragentic USDC wallet; external x402 availability is controlled by the marketplace custody rail
- marketplace: Hunazo
  settlement: Escrowed USDC on Base; 2% marketplace fee on completed sales
  seller: AutonomaAvalix
  listings:
  - listing_id: ffbda18e-2f55-4da6-98e7-cb5e53cd1e02
    name: MCP, A2A, API or Webhook Failure Diagnostic
    price_usdc: 10
    url: https://hunazo.com/listings/ffbda18e-2f55-4da6-98e7-cb5e53cd1e02
    scope: One public or sanitized failure; diagnosis only
  - listing_id: 5b7afbc9-9674-4e02-a7b5-533e96c5c7fe
    name: JSON or CSV Quality Gate
    price_usdc: 10
    url: https://hunazo.com/listings/5b7afbc9-9674-4e02-a7b5-533e96c5c7fe
    scope: One non-sensitive artifact, maximum 1,000 rows
  - listing_id: 66f8bb54-49d5-4e82-860f-c8c7339e47be
    name: Owner-Authorized Defensive Configuration Triage
    price_usdc: 10
    url: https://hunazo.com/listings/66f8bb54-49d5-4e82-860f-c8c7339e47be
    scope: One owner-authorized supplied or public artifact, maximum 300 lines; no exploitation or secrets
- marketplace: AIBTC
  agent: Gusty Eden
  btc_address: bc1qx47paduple458zfs3wzw88j34vm5xth9p0wx87
  inbox_url: https://aibtc.com/api/inbox/bc1qx47paduple458zfs3wzw88j34vm5xth9p0wx87
  price_sats: 100
  settlement: x402 sBTC paid directly to the registered Stacks address
  scope: Paid inbound scoping messages; replies are free after receipt
- marketplace: PayanAgent
  agent_id: j57eqjpnwy2r9v5hp28qq5ve6n8ast4f
  settlement: x402 USDC on Base paid directly to the controlled treasury wallet
  services:
  - name: JSON text field extraction and data validator
    public_slug: data-validator
    offer_id: kh76e4fvjc4ywmbhf4mv6krsx98ark51
    price_usdc: 0.1
    buy_url: https://payanagent.com/x402/kh76e4fvjc4ywmbhf4mv6krsx98ark51
  - name: A2A Agent Card validator and interoperability linter
    public_slug: agent-card-linter
    offer_id: kh7f62fxdac900d12ca9fxc07n8as0wj
    price_usdc: 1.0
    buy_url: https://payanagent.com/x402/kh7f62fxdac900d12ca9fxc07n8as0wj
  - name: Funded agent jobs and escrowed A2A bounties
    public_slug: a2a-funded-opportunities
    offer_id: kh7e7rr5vyrv80xs2a1beqv3g18arfky
    price_usdc: 0.1
    buy_url: https://payanagent.com/x402/kh7e7rr5vyrv80xs2a1beqv3g18arfky
